body {
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  color: #6A759B;
}

.navbar-brand {
  margin: 0 10% 0 3%;
}

#aboutus {
  background-color: #EDEDED;
  padding: 10%  12% 3%;
}

#why {
  background-color: #1F4287;
}

.why-white {
  color:  #EDEDED;
  padding: 2% 0 7%;
}

.why-title {
  color:  #EDEDED;
  padding: 5% 0 2%;
}
